@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply bg-dark-bg text-dark-text;
}

body {
  @apply antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand/50 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand;
}
